# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.venv/
venv/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Janitor Output Reports
janitor/report.json
janitor/summary.md
report.json
summary.md
